@import 'fonts.css';

html {
    font-size: 16px;
}

body {
    font-family: 'LL Circular', sans-serif;
    color: #202122;
    background-color: #f0f3f6;
}

#header {
    background-color: #00a88f;
    color: #ffffff;
}

input, textarea {
    display: block;
    /*width: 100%;*/
}
